@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
} */

@layer base {
    body {
        overflow-x: hidden;
        font-family: "Montserrat", system-ui;
    }
}